html,
body {
  margin: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground, .foreground {
  top: 0;
  left: 0;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  padding: 0;
  width: 35vw;
  height: 59vh;
}

body {
  background-color: rgba(0, 255, 0, 0.1);
}

.midground {
  background-color: hsla(225, 100%, 25%, 0.4);
  position: absolute;
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
  position: relative;
}

.first, .second {
  height: 70px;
  width: 50px;
  position: relative;
}

.first {
  background-color: hsla(225, 100%, 25%, 0.4);
  z-index: -1;
}

.second {
  background-color: hsla(325, 50%, 50%, 0.6);
  z-index: 1;
  left: 20px;
  bottom: 20px
}
